@import url(https://fonts.googleapis.com/css?family=Coming+Soon | kavoon);

body {
	background: #ffccff;
	padding-left: 180px
}

header,h2,h3,p {
	color: #ffffff
}

header,h2,h3 {
	font-family: 'Coming Soon', cursive;
	} 


 p,{
 	font-family: 'Kavoon', cursive;
 	font-size: 100%;
 }

 header {
 	height: 100px;
 	width: 100px;
 	padding-top: 10px;
 	padding-bottom: 150px;
 }

 header,h2,h3 {
 	font-weight: bold;
 	font-size: 150%;
 }


 footer {
 	position: fixed;
 	right: 0;
 	left: 0;
 	bottom: 0;
 	text-align: center;
 }

address {
	padding-top: 350px;
	padding-left: 10px;
	color: #ffffff;
}


.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 15px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #ff0000;
}

.sidenav p {
	padding-left: 10px;
	color: #ffffff;
}

#column1 {
	float: right;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#column2 {
	float: right;
	display: block;
	margin-left: auto;
	margin-right: auto;
 }



