@import url(https://fonts.googleapis.com/css?family=Coming+Soon | kavoon);

body {
	background: #ffccff;
	padding-left: 10%
}

header,h2,h3,p {
	color: #ffffff
}

header,h2,h3 {
	font-family: 'Coming Soon', cursive;
	} 


 p,{
 	font-family: 'Kavoon', cursive;
 	font-size: 100%;
 }

 header {
 	height: 100%;
 	width: 100%;
 	padding-top: 10%;
 	padding-bottom: 150%;
 }

 header,h2,h3 {
 	font-weight: bold;
 	font-size: 150%;
 }


 footer {
 	right: 0%;
 	left: 0%;
 	bottom: 0%;
 	text-align: center;
 	position: absolute;
 }

address {
	padding-top: 150%;
	padding-left: 10%;
	color: #ffffff;
}


.sidenav {
    height: 100%;
    width: 12%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 2%;
}

.sidenav a {
    padding: 15% 8% 6% 16%	;
    text-decoration: none;
    font-size: 100%;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #ff0000;
}

.sidenav p {
	padding-left: 10%;
	color: #ffffff;
}

#column1 {
	float: right;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#column2 {
	float: right;
	display: block;
	margin-left: auto;
	margin-right: auto;
 }

img {
	float: right;
}

div {
	clear: right;
}
